.body {
    background-color: #eee;
}

form {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    padding: 15px 40px;
    font-size: 50px;
    line-height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 10px #0002;
}
.titulinis {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-size: 25px;
}
.pastaba {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-size: 25px;
}
.start {
    cursor: pointer;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    color: #fff;
}
.start:hover {
    background-color: yellowgreen;
    color: black;
}
.ivertinimas {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
.back {
    cursor: pointer;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: orange;
    color: #fff;
    font-size: 45px;
}
.back:hover {
    background-color: yellowgreen;
    color: black;
}
.bonus {
    cursor: pointer;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: orange;
    color: #fff;
    font-size: 41px;
}
.bonus:hover {
    background-color: yellowgreen;
    color: black;
}
.vertinimas {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 41px;
}
.ivertinimoZinute {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    text-align: center;
}
.end {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}